In [3]:
# Importing necessary libraries 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
df = pd.read_csv("NPPE1_Preprocessing1.csv")

In [62]:
df.shape

(4000, 14)

In [63]:
df.head()

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE,RIVERSIDE
0,1.026769,1.429034,7.851300,1.134216,6.0,42.0,5.251911,5,279.201277,20.689586,398.811960,10.461456,22.991633,NO
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,24.551055,NO
2,10.925905,0.441022,18.322960,2.824833,8.0,-2.0,2.409495,25,666.492973,20.351601,387.061355,19.366070,15.875346,NO
3,0.559027,1.041175,11.114920,0.794952,6.0,9.0,6.898669,4,305.514181,19.787314,391.778647,6.206820,23.007756,NO
4,0.905063,81.167963,3.673369,1.029030,8.0,20.0,10.246463,1,315.913960,17.360439,395.833166,10.827105,21.503177,NO

In [64]:
df["PRICE"].mean()

np.float64(24.355923220694248)

In [65]:
df['RM'].value_counts()
# -1 is not possible , in the no. of rooms feature

RM
 7.0     1733
 6.0      961
 8.0      894
 9.0      276
 5.0       47
 10.0      40
-1.0       40
 4.0        7
 11.0       2
Name: count, dtype: int64

In [66]:
1733+961+894+276+47+40+2

3953

In [67]:
top_10_houses = df.sort_values(by='PRICE', ascending=False).head(10)
avrg_price = top_10_houses['PRICE'].mean()
avrg_price

np.float64(52.36590175716407)

In [68]:
df['RM'].unique()

array([ 6.,  7.,  8.,  9., 10., -1.,  5.,  4., 11.])

In [69]:
df.isnull().sum()

CRIM            0
ZN              0
INDUS           0
POLINDEX        0
RM              0
AGE             0
DIS             0
HIGHWAYCOUNT    0
TAX             0
PTRATIO         0
IMM             0
BPL             0
PRICE           0
RIVERSIDE       0
dtype: int64

In [70]:
df['AGE'].unique()
# -2,

array([ 42.,  63.,  -2.,   9.,  20.,  95.,  35.,  97.,  36.,  78.,  99.,
        96.,  19.,  73.,  86.,  37.,  76.,  50.,  32.,  92., 101.,   8.,
        94.,  84.,  47.,  43.,  65.,  46.,  59.,  74.,  93.,  80.,  98.,
       102.,  56., 100.,  89.,  53.,  18.,  71.,  62.,  83.,  66.,   7.,
        77.,  91.,  90.,  58.,  57.,  60.,  87.,  75.,  34.,  85.,  48.,
        33.,  38.,  30.,  23.,  55.,  11.,  14.,  45.,  41.,  88.,  16.,
        12.,  79.,  67.,  39.,  49.,  61.,  70.,  54.,  10.,  22.,  72.,
        15.,  51.,  81.,  31.,  52.,  44.,  28.,  17.,  40.,  29.,  69.,
        64.,  24.,  82.,  26.,  68.,  27.,  13., 103.,  21.,  25.,   6.,
         5.,   3.,   4.])

In [71]:
df['AGE'].value_counts()

AGE
99.0     142
100.0    136
96.0     127
95.0     117
98.0     102
        ...
12.0       4
103.0      3
5.0        3
3.0        2
4.0        1
Name: count, Length: 102, dtype: int64

In [72]:
(df['AGE'] == -2).sum()

np.int64(50)

In [73]:
df['RIVERSIDE'].value_counts()

RIVERSIDE
NO         3595
YES         317
UNKNOWN      88
Name: count, dtype: int64

In [74]:
filt_df = df.dropna(subset=['AGE', 'RIVERSIDE'])
rzlt = filt_df[(filt_df['RIVERSIDE'] == 'YES') & (filt_df['AGE'] <=50)]
count = rzlt.shape[0]
count

53

In [75]:
df['HIGHWAYCOUNT'].value_counts()

HIGHWAYCOUNT
5     931
6     701
4     562
25    350
7     338
3     249
24    223
8     172
2     160
9     136
26     80
1      67
10     20
27      9
11      2
Name: count, dtype: int64

In [76]:
701 + 338 + 172

1211

In [77]:
# Create a new column category based on the house price 
def cat(price):
    if price<10:
        return 'Category 1'
    elif 10<=price<20:
        return 'Category 2'
    elif 20<=price<30:
       return 'Category 3'
    elif 30<=price<40:
        return 'Category 4'
    else:
        return 'Category 5'

In [78]:
# Apllying the categorize function to create the new CATEGORY column
df['CATEGORY'] = df['PRICE'].apply(cat)

In [79]:
cat_counts = df['CATEGORY'].value_counts()

In [80]:
cat_counts.max()

np.int64(2028)

In [81]:
from sklearn.model_selection import train_test_split

In [88]:
df['RM'] = df['RM'].replace(-1, np.nan)
df['RIVERSIDE'] = df['RIVERSIDE'].replace('UNKNOWN', np.nan)
df['AGE'] = df['AGE'].replace(-2, np.nan)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CRIM          4000 non-null   float64
 1   ZN            4000 non-null   float64
 2   INDUS         4000 non-null   float64
 3   POLINDEX      4000 non-null   float64
 4   RM            3960 non-null   float64
 5   AGE           3950 non-null   float64
 6   DIS           4000 non-null   float64
 7   HIGHWAYCOUNT  4000 non-null   int64
 8   TAX           4000 non-null   float64
 9   PTRATIO       4000 non-null   float64
 10  IMM           4000 non-null   float64
 11  BPL           4000 non-null   float64
 12  PRICE         4000 non-null   float64
 13  RIVERSIDE     3912 non-null   object
 14  CATEGORY      4000 non-null   object
dtypes: float64(12), int64(1), object(2)
memory usage: 468.9+ KB

In [93]:
x = df.drop(columns='PRICE')
y = df['PRICE']

In [94]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [95]:
x_train.shape

(2800, 14)

In [114]:
df.head()

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE,RIVERSIDE,CATEGORY
0,1.026769,1.429034,7.851300,1.134216,6.0,42.0,5.251911,5,279.201277,20.689586,398.811960,10.461456,22.991633,NO,Category 3
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,24.551055,NO,Category 3
2,10.925905,0.441022,18.322960,2.824833,8.0,NaN,2.409495,25,666.492973,20.351601,387.061355,19.366070,15.875346,NO,Category 2
3,0.559027,1.041175,11.114920,0.794952,6.0,9.0,6.898669,4,305.514181,19.787314,391.778647,6.206820,23.007756,NO,Category 3
4,0.905063,81.167963,3.673369,1.029030,8.0,20.0,10.246463,1,315.913960,17.360439,395.833166,10.827105,21.503177,NO,Category 3

In [115]:
df1 = df.copy()
df1.head()

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE,RIVERSIDE,CATEGORY
0,1.026769,1.429034,7.851300,1.134216,6.0,42.0,5.251911,5,279.201277,20.689586,398.811960,10.461456,22.991633,NO,Category 3
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,24.551055,NO,Category 3
2,10.925905,0.441022,18.322960,2.824833,8.0,NaN,2.409495,25,666.492973,20.351601,387.061355,19.366070,15.875346,NO,Category 2
3,0.559027,1.041175,11.114920,0.794952,6.0,9.0,6.898669,4,305.514181,19.787314,391.778647,6.206820,23.007756,NO,Category 3
4,0.905063,81.167963,3.673369,1.029030,8.0,20.0,10.246463,1,315.913960,17.360439,395.833166,10.827105,21.503177,NO,Category 3

In [116]:
#1
df1 = df1.drop(columns = 'CATEGORY' )

In [141]:
# 2 and 3
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
col_mms = ['CRIM', 'ZN']
x_train[col_mms] = mms.fit_transform(x_train[col_mms])
x_test[col_mms] = mms.transform(x_test[col_mms])

In [143]:
#4
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
col_ss = ['INDUS']
x_train[col_ss] = ss.fit_transform(x_train[col_ss])
x_test[col_ss] = ss.transform(x_test[col_ss])

In [144]:
# 5, 6, 7, 8, 9, 10 & 11
col_mms1 = ['POLINDEX', 'DIS', 'HIGHWAYCOUNT', 'TAX', 'PTRATIO', 'IMM', 'BPL']
x_train[col_mms1] = mms.fit_transform(x_train[col_mms1])
x_test[col_mms1] = mms.transform(x_test[col_mms1])

In [145]:
x_train['RM'] = x_train['RM'].fillna(x_train['RM'].median())
x_test['RM'] = x_test['RM'].fillna(x_test['RM'].median())
x_train['RM'] = mms.fit_transform(x_train[['RM']])
x_test['RM'] = mms.transform(x_test[['RM']])

In [146]:
x_train['AGE'] = x_train['AGE'].fillna(x_train['RM'].mean())
x_test['AGE'] = x_test['AGE'].fillna(x_test['RM'].mean()) 
x_train['AGE'] = mms.fit_transform(x_train[['AGE']])
x_test['AGE'] = mms.transform(x_test[['AGE']])

In [148]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='most_frequent')
x_train['RIVERSIDE'] = si.fit_transform(x_train[['RIVERSIDE']]).ravel()
x_test['RIVERSIDE'] = si.transform(x_test[['RIVERSIDE']]).ravel()

In [135]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output=False)

In [151]:
river_ohe = ohe.fit_transform(x_train[['RIVERSIDE']])
river_ohe_test = ohe.transform(x_test[['RIVERSIDE']])
ohe_col = ohe.get_feature_names_out(['RIVERSIDE'])
df_ohe = pd.DataFrame(river_ohe, columns=ohe_col, index=x_train.index)
df_ohe_test = pd.DataFrame(river_ohe_test, columns=ohe_col, index=x_test.index)
df_ohe_test.head()

      RIVERSIDE_NO  RIVERSIDE_YES
2230           1.0            0.0
668            1.0            0.0
3616           1.0            0.0
2363           1.0            0.0
142            1.0            0.0

In [152]:
x_train = pd.concat([x_train, df_ohe], axis=1).drop(columns=['RIVERSIDE'])

In [154]:
x_train.shape

(2800, 15)

In [166]:
x_train = x_train.drop(columns='CATEGORY')

In [155]:
x_test = pd.concat([x_test, df_ohe_test], axis=1).drop(columns=['RIVERSIDE'])

In [162]:
x_test = x_test.drop(columns=['CATEGORY'])

In [163]:
x_test.shape

(1200, 14)

In [164]:
test_feature_matrix_mean = np.mean(x_test.values)

In [167]:
print(f"Mean of the transformed test feature matrix: {test_feature_matrix_mean}")

Mean of the transformed test feature matrix: 2.2162318196580535