In [2]:
import numpy as np
import pandas as pd

In [7]:
from sklearn.feature_extraction import DictVectorizer 
data = [
    {'age':4, 'height':96.0},
    {'age':1, 'height':73.9},
    {'age':3, 'height':88.9},
    {'age':2, 'height':81.6}
]

dv = DictVectorizer(sparse=False)
data_transformed = dv.fit_transform(data)
np.var(data_transformed, axis=0)

array([ 1.25 , 67.735])

In [8]:
from sklearn.feature_selection import VarianceThreshold
vt = VarianceThreshold(threshold=9)
data_new = vt.fit_transform(data_transformed)
data_new

array([[96. ],
       [73.9],
       [88.9],
       [81.6]])

In [11]:
# Q1) Explain the difference b/w SimpleImputer & KNNImputer, and use them on this data. 
data = {'Age':[25, 30, None, 45, 40], 'Fare':[100, None, 80, 75, 60]}
import pandas as pd
data = pd.DataFrame(data)
data.head()

    Age   Fare
0  25.0  100.0
1  30.0    NaN
2   NaN   80.0
3  45.0   75.0
4  40.0   60.0

In [16]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
si_data = imputer.fit_transform(data)
si_data = pd.DataFrame(si_data, columns=data.columns)
si_data.head()

    Age    Fare
0  25.0  100.00
1  30.0   78.75
2  35.0   80.00
3  45.0   75.00
4  40.0   60.00

In [17]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
knn_data = imputer.fit_transform(data)
knn_data = pd.DataFrame(knn_data, columns=data.columns)
knn_data.head()

    Age   Fare
0  25.0  100.0
1  30.0   80.0
2  42.5   80.0
3  45.0   75.0
4  40.0   60.0